<h2>Share Something Today!</h2>
<button style="    float: right ;margin-right: 40px;
" type="button" (click)="viewNews()">View the News!</button>
<br />
<br />
<img class="imageclass" [src]="image" />

<div class="row mt-2">
  <div class="col formclass text-center">
    <form [formGroup]="form" (ngSubmit)="shareNews()">
      <div class="form-group">
        <label for="title" class="form-label float-left"><b>Title:</b></label>
        <input type="text" id="title" class="form-control" formControlName="title" placeholder="title" />
      </div>
      <div class="form-group">
        <label for="comments" class="form-label float-left"><b>Comments:</b></label>
        <textarea id="comments" class="form-control" formControlName="comments" placeholder="Your thoughts"></textarea>
      </div>

      <button class="float-left btn btn-primary" type="submit" [disabled]="form.invalid||imageempty">Share</button>
      <button class="btn btn-warning" type="reset" (click)="reset()">Clear</button>
      <button class="float-right btn btn-danger" type="button" (click)="capture()">Capture</button>

    </form>
  </div>
</div>

