<h1>Share Something Today!</h1>

<img [src]="image" />

<div class="row mt-2">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="shareNews()">
      <div class="form-group">
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" class="form-control" formControlName="title" />
      </div>
      <div class="form-group">
        <label for="comments" class="form-label">Comments:</label>
        <input type="text" id="comments" class="form-control" formControlName="comments" />
      </div>

      <button type="submit" [disabled]="form.invalid||imageempty">Share</button>
      <button type="reset" (click)="reset()">Clear</button>
      <button type="button" (click)="capture()">Capture</button>

    </form>
  </div>
</div>

