/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css");

.formclass {
  padding-left: 30px;
  padding-right: 30px;
}
.imageclass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%
}

:disabled {
  cursor: not-allowed;
}


